body {		
	text-align: center;
	padding: 20px;
}
h1 {
    color: lightslategray;
}
/*Formulario 1*/

.form1 { 
    margin: 20px;
    width: 500px; 
    text-align: left; 
    display: inline-block; 
}
.titulo1 { 
    font-size: 22px; 
}
hr { 
    border: none; 
    border-bottom: 1px solid #ddd; 
}
.form1 span { 
    font-weight: bold; 
    width: 80px; 
    display: inline-block;
}
.form1 input[type=text] { 
    padding: 10px; 
    border: 1px solid #ddd; 
    width: 334px; margin: 0 8px;
    border-radius: 4px;
}
.campo1 { 
    margin: 20px; 
}
#campo_menor { 
    width: 102px; 
}
.bt_save  { 
    background-color: #3E8BCE; 
    float: right; 
    border: none; 
    color: white; 
    padding: 10px 10px; 
    border-radius: 4px; 
    text-decoration: none; 
    margin: 4px 10px; 
    cursor: pointer; 
}
.bt_cancel { 
    background-color: #fff; 
    float: right; 
    border: none; 
    color: #666; 
    padding: 10px 10px; 
    border-radius: 4px; 
    border: 1px solid #ddd; 
    text-decoration: none; 
    margin: 4px 2px; 
    cursor: pointer; 
}


/*Formulario 2*/

.form2 { 
    margin: 20px; 
    display: table; 
    text-align: left; 
    display: inline-block; 
    background: #F9F9F9; 
    padding: 20px; 
    border: 1px solid #238741; 
    border-bottom: 3px solid #238741; 
}
.titulo2 { 
    font-size: 28px; 
    color: #6E6E6E; 
    margin: 0 0 10px 0; 
}
.form2 p { 
    font-size: 12px; 
    color: #6E6E6E; 
    margin: 12px 0 12px 0;
}
.campo2 { 
    margin: 0px; 
}
.form2 span { 
    font-weight: bold; 
    width: 80px; 
    display: inline-block;
}
.form2 input[type=text] { 
    padding: 10px; 
    border: 1px solid #ddd; 
    width: 334px; 
    margin: 8px 0px; 
    font-size: 12px;
}
.form2 input[type=email] { 
    padding: 10px; 
    border: 1px solid #ddd; 
    width: 334px; 
    margin: 8px 0px; 
    font-size: 12px;
}
.form2 textarea { 
    padding: 10px; 
    border: 1px solid #ddd; 
    width: 334px; 
    margin: 8px 0px; 
    font-family: arial; 
    font-size: 12px;
}
.bt_save2  { 
    background-color: #00B241; 
    width: 100%; 
    border: none; 
    color: white; 
    padding: 10px 10px; 
    text-decoration: none; 
    margin: 15px 0 20px 0; 
    cursor: pointer; 
}

/*Formulario 3*/

.form3 { 
    margin: 20px; 
    display: table; 
    background: #00ACB5; 
    display: inline-block; 
    padding: 10px 30px; 
}
.titulo3 { 
    font-size: 18px; 
    font-weight: bold; 
    color: #fff; 
    margin: 0 0 10px 0; 
}
.campo3 { 
    margin: 0px; 
}
.form3 p { 
    font-size: 10px; 
    color: #fff; 
    margin-top: -16px; 
    text-align: left; 
}
.form3 span { 
    font-weight: bold; 
    width: 80px; 
    display: inline-block;
}
.form3 input[type=text] { 
    padding: 6px 10px; 
    border: none; 
    width: 200px; 
    margin: 8px 0px; 
    font-size: 14px; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.form3 input[type=email] { 
    padding: 6px 10px; 
    border: none; 
    width: 200px; 
    margin: 8px 0px; 
    font-size: 14px; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.form3 textarea { 
    padding: 8px 10px; 
    border: none; 
    width: 200px; 
    margin: 8px 0px; 
    font-size: 14px; 
    font-family: arial; 
    font-size: 14px; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.bt_save3  { 
    background-color: #fff; 
    width: 150px; 
    border: none; 
    font-size: 16px;
    font-weight: bold; 
    color: #C8C9CB; 
    padding: 5px 10px; 
    text-decoration: none; 
    margin: 10px 0 10px 0; 
}
.container input[type=checkbox] {
    background-position:0 -60px; 
    float: left;
    margin-right: 5px;
    border: none;
}
